<div class="container8 titulo" id="scrollPlano"><h2>Nossos Planos</h2>
<p>Todos nossos Pacotes são com Público de Alta Qualidade, Reais e <br>Brasileiros.</p>
</div>
<section class="container container1">
    <div class="item" >
        <h1 style="color: #605DBA;"><i class="fa-brands fa-instagram"></i> Para<br>Instagram</h1>
        <h2 style="color: #F78B77;"><i class="fa-solid fa-users"></i> Planos Mensais</h2>
        <a href="">A partir de R$59,90</a>
        <h2 style="color: #605DBA;"><i class="fa-solid fa-user"></i> Seguidores<br>Instagram</h2>
        <a href="">A partir de R$16,90</a>
        <h2 style="color: #605DBA;"><i class="fa-solid fa-heart"></i> Curtidas<br>Instagram</h2>
        <a href="">A partir de R$59,90</a>
        <h2 style="color: #605DBA;"><i class="fa-solid fa-circle-plus"></i> Storys Avulso</h2>
        <a href="">A partir de R$16,90</a>
        <h2 style="color: #605DBA;"><i class="fa-solid fa-circle-play"></i> Reels Avulso</h2>
        <a href="">A partir de R$59,90</a>
    </div>
    <div class="item2" >
        <h1 style="color: #54A8C7;"><i class="fa-brands fa-tiktok"></i> Para TikTok</h1>
        <h2 style="color: rgb(72, 170, 250);"><i class="fa-solid fa-users"></i> TikTok Mensais</h2>
        <a href="">A partir de R$59,90</a>
        <h2 style="color: #54A8C7;"><i class="fa-solid fa-user"></i> Seguidores TikTok</h2>
        <a href="">A partir de R$16,90</a>
        <h2 style="color: #54A8C7;"><i class="fa-solid fa-heart"></i> Curtidas TikTok</h2>
        <a href="">A partir de R$59,90</a>
        <h2 style="color: #54A8C7;"><i class="fa-solid fa-circle-play"></i> Videos TikTok</h2>
        <a href="">A partir de R$16,90</a>
        <h2 style="color: #54A8C7;"><i class="fa-solid fa-circle-play"></i> Compartilhamento <br>TikTok</h2>
        <a href="">A partir de R$59,90</a>
    </div>
    <div class="item3" style="padding-top: 15px;">
        <img src="https://maisgram.com.br/assets/img/illustrations/3d9.png" alt="">
    </div>
</section>
<section class="container container2">
    <div class="item4" >
        <h1 style="color: #605DBA;">100% Seguro e Eficaz</h1>
        <h2 style="color: #F78B77;">Desde 2016 oferecendo o melhor<br>em Engajamento para Redes<br>Sociais.</h2>
    </div>
    <div class="item5">
        <i class="fa-solid fa-bullseye" style="font-size: 45px; color: #ef3f6e;"></i>
        <h1>51000+</h1>
        <p>Clientes Compraram <br>Conosco</p>
    </div>
    <div class="item6">
        <i class="fa-solid fa-arrow-up-right-dots" style="font-size: 45px; color: #ef3f6e;"></i>
        <h1>9X</h1>
        <p>Mais Resultados em Todos <br>os Perfis</p>
    </div>
    <div class="item7">
        <i class="fa-solid fa-users" style="font-size: 45px; color: #ef3f6e;"></i>
        <h1>100%</h1>
        <p>Interações Reais e <br>Brasileiras</p>
    </div>
    

</section>
<section class="container container3">
    <div class="item8" >
        <div class="card" style="color: #343F52;">
            <p>“Só tenho a <br>
              agradecer ao <br>
              Maisgram. A entrega <br>
              dos seguidores no <br>
              TikTok foi rápida e os <br>
              perfis são de ótima <br>
              qualidade.”<br>
              <br>
              <b>Lucas Zanardi </b><br>
              <br>
              Personal Training</p>
        </div>
    </div>
    <div class="item9">
        <div class="card" style="color: #343F52;">
              <p>“Depois que comprei <br>
                um pacote de <br>
                Visualizações no Reels Mensal e <br>
                Seguidores no <br>
                Instagram tive até <br>
                aumento nas vendas <br>
                da minha loja. Ajudou <br>
                muito a divulgar <br>
                minha marca.”<br>
                <br>
                <b>Lobato Saldanha</b><br>
                <br>
                Loja de Informática
          </div>
    </div>
    <div class="item10">
        <div class="card" style="color: #343F52;">
            “Muito feliz com o <br>
            resultado, com mais <br>
            seguidores, minha autoridade subiu <br>
            muito e minhas <br>
            vendas <br>
            deslancharam.”<br>
            <br>
            <b>Flávia Silva</b><br>
            <br>
            e-commerce
        </div>
    </div>
    <div class="item11">
        <div class="card" style="color: #343F52;">
            “Comprei um Pacote <br>
            Mensal de Stories <br>
            com o Maisgram e <br>
            logo em seguida, <br>
            comprei seguidores <br>
            pra TikTok também. <br>
            Recomendo!”<br>
            <br>
            <b>Alice Garibaldi</b><br>
            <br>
            Modelo Influencer
        </div>
    </div>
</section>
<section class="container container4">
    <div class="item12">
        <h1 class="titulo">COMO FUNCIONA ?</h1>
       <h2 style="font-size: 23px; color:#343F52; font-family: sans-serif;">
        57 segundos é o tempo médio que nossos clientes <br>
        demoram para comprar seguidores no Instagram <br>
        e TikTok em nosso Site.<br>
       </h2>
       <p class="paragrafo">Faça seu Perfil Ganhar Engajamento com esse pequeno Passo a Passo:</p>
    </div>
    <div class="item13">
        <p><i class="fa-solid fa-check" style="color: #6d6ad6;"></i> Escolha a Rede Social que <br>
            deseja Turbinar</p>
        <p><i class="fa-solid fa-check" style="color: #6d6ad6;"></i> Selecione o Tipo de <br>
            Interação que quer Ganhar <br>
            (Comprar Seguidores <br>
            Instagram, por exemplo).
        </p>
    </div>
    <div class="item14">
            <p><i class="fa-solid fa-check" style="color: #6d6ad6;"></i> Preencha a Url com seu <br>
                Perfil ou Postagem da Rede <br>
                Social escolhida, insira seu <br>
                WhatsApp e E-mail de <br>
                contato.</p>
            <p><i class="fa-solid fa-check" style="color: #6d6ad6;"></i> Tome um café e deixe o <br>
                trabalho conosco!</p>
    </div>
    <div class="item15">
        <img src="https://maisgram.com.br/assets/img/illustrations/i2.png" alt="">
    </div>
</section>
<section class="container container5">
    <div class="item16" >
        <h1 style="color: #343F52; font-size: 20px; font-family: sans-serif;"><i class="fa-solid fa-1" style="color: #6d6ad6; font-size: 17px;"></i> Público Real</h1>
        <p style="color: #60697b; font-size: 17px; font-family: sans-serif;">O Maisgram se gaba por fazer <br>
            você ganhar Seguidores no <br>
            Instagram e TikTok de forma real <br>
            e eficaz. Nós, assim como você, <br>
            odiamos e repudiamos interações <br>
            Fake!</p>
        
    </div>
    <div class="item17">
        <h1 style="color: #343F52; font-size: 20px; font-family: sans-serif;"><i class="fa-solid fa-2" style="color: #6d6ad6;"></i> Melhor Preço do Mercado</h1>
        <p style="color: #60697b; font-size: 17px; font-family: sans-serif;">Nos Planos Mensais, a partir de 2 <br>
            reais por dia, você vai ganhar <br>
            visualizações nos Stories e Reels, <br>
            ganhar curtidas no Instagram e <br>
            muito mais.</p>
    </div>
    <div class="item18">
        <h1 style="color: #343F52; font-size: 20px; font-family: sans-serif;"><i class="fa-solid fa-3" style="color: #6d6ad6;"></i> Segurança</h1>
        <p style="color: #60697b; font-size: 17px; font-family: sans-serif;">Nunca pedimos sua Senha para <br>
            executar nenhum trabalho. Isso <br>
            traz 100% de Segurança e <br>
            Confiança. Temos Suporte via <br>
            WhatsApp.</p>
    </div>
</section>
<section class="container container6">
    <div class="item19">
        <h2 style="color: #ef3f6e; font-size: 17px; font-family: sans-serif;">COMECE AGORA!</h2>
        <p style="color: #343F52; font-size: 41px; font-family: sans-serif;">Quer Comprar Seguidores no <strong style="color: #ef3f6e;">Instagram e <br>
            TikTok</strong>, Curtidas, Stories, Reels e muito mais?</p>
        <p style="color: #60697B; font-size: 17px; font-family: sans-serif;">Aqui no Maisgram, orgulhamo-nos de um serviço excepcional e preços acessíveis.</p>
        <button class="button2" onclick="location.href = '#scrollPlano';">Nossos Planos</button>
    </div>
</section>



