<section class="container container7">
    
    <div class="item20" >
        <img class="finalLogo" src="https://maisgram.com.br/img/logo.png" alt="">
        <p style="color: #CACACA; font-size: 17px; font-family: sans-serif;">&copy; 2016-2023 <br>
        MoreGram</p>
    </div>
    <div class="item21">
        <h4 style="color: #FFFFFF; font-size: 20px; font-family: sans-serif;">Sobre o Maisgram</h4>
        <p style="color: #CACACA; font-size: 12px; font-family: sans-serif;">O Maisgram é uma ferramenta de marketing criada para o <br>
            Instagram, ela não possui nenhum vínculo com a empresa do <br>
            Instagram.</p>
    </div>
    <div class="item22">
        <h4 style="color: #FFFFFF; font-size: 20px; font-family: sans-serif;">Maisgram</h4>
            <li style="list-style: none; padding-bottom: 20px;"><a href="#scrollHome">Home</a></li>
            <li style="list-style: none; padding-bottom: 20px;"><a href="#scrollPlano">Planos</a></li>
            <li style="list-style: none; padding-bottom: 20px;"><a href="">Blog</a></li>
            <li style="list-style: none; padding-bottom: 20px;"><a href="">Contato</a></li>
            <li style="list-style: none;"><a href="">Termos</a></li>
    </div>
</section>
