
nav .logo{
    position: initial;
    display: flex;
    max-width: 100%;
    background-color: white;
}
nav{

    padding-left: 100px;
    padding-right: 100px;
    max-width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: auto;
    background-color: white;
}
a{
    display: block;
    font-size: 17px;
    font-family: sans-serif;
    text-decoration: none;
}
a:hover{
    color: #343F52;
    background-color:#7d7ac7;
    border-radius: 5px;
}
.nav-list{
    justify-content: center;
    list-style: none;
    display: flex;
    margin: 0px;
    width: 100%;
    padding-right: 170px;
}
.nav-list li{
    text-decoration: none;
    display: flex;
    justify-content: center;
    padding: 10px;
}
@media (max-width: 1000px) {
    nav{
    padding-left: 0px;
    padding-right: 0px;
    }
}



