<section class="container">
    <div class="item1" style="color: #343F52; font-size: 25px; font-family: sans-serif;" id="scrollHome">
        <h3>Revelado<strong style="color: #7d7ac7;"> o Segredo dos Influencers</strong><br>
        para ganhar Seguidores no <br> Instagram, Visualizações nos <br> 
        Stories, Reels, Curtidas e Muito <br>
        Mais!
        </h3>
    </div>
        <div class="item2">
        <p style="color: #343F52; font-size: 18px; font-family: sans-serif;">No Maisgram, você tem a Solução Completa para Triplicar <br> 
            o Engajamento do seu Instagram.</p><br>
            <button class="button2" onclick="location.href = '#scrollPlano';">Quero Agora!</button>
        </div> 
<div class="item4">
    <img src="https://maisgram.com.br/assets/img/illustrations/3d6nx-min.png"> 
</div> 
</section>
<app-plano-screen></app-plano-screen>


